@media (min-width: 1200px) and (max-width: 1300px) and (min-height: 800px) and (max-height: 850px) {
    #xboardsection {
        max-width: 99.2vw;
        max-height: 98.75vh;
    }

    #board_panel {
    height: 98vh;    
    max-height: 98.75vh;
}
    .evaluation-container-horizontal {
        max-width: 99.2vw;
        margin: 0 auto;
    }
    
    .scroll_movelist {
        height: 22.5vh !important;
        min-height: 22.5vh !important;
        max-height: 22.5vh !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        margin-top: 1.5vh !important;
        margin-bottom: 1.5vh !important;
        scroll-behavior: smooth !important;
    }
    
    .scroll_movelist .text-warning {
        scroll-margin-top: 9.375vh;
        scroll-margin-bottom: 9.375vh;
    }
    
    .gameMoves {
        white-space: normal;
    }
    
    .scroll_engine {
        height: 100%;
        max-height: 100%;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
    
   #GameTable_wrapper {
    min-height: 31.25vh;
    max-height: 40vh;
    overflow-y: auto;
}

    #BookTable_wrapper {
    min-height: 31.25vh;
    max-height: 40vh;
    overflow-x: hidden;
}

#BookTable_wrapper .dataTables_scrollBody {
        overflow-y:visible !important;
    } 

    .gameMoves, .bookMoves {
        font-size: 1.6vw;
    }
    
    #data.card {
        height: 43vh;
        min-height: 30vh;
        max-height: 50vh;
    }
    
    html {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

    body {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
        max-height: 100vh;
    }
    
    .scroll-portrait {
    max-height: 100vh;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
    
    .container-fluid > .row > .col:first-child {
        flex: 0 0 48% !important;
        max-width: 48% !important;
    }

    #boardControlButtons {
    padding-left: 0px;
    padding-top: 3.75vh;
    padding-bottom: 3.75vh;
}

    #boardcontrol {
    padding-top: 1.5vh !important;
    }

    .boardinfo {
    padding-top: 3.75vh;
    }

    #boardButtons button {
        padding: 10px 14px !important;
        min-height: 5.5vh !important;
        min-width: 3.75vw !important;
        font-size: 1rem !important;
        border-radius: 0px !important;
    }
    #pv_output,
    #pv_output * {
        font-size: 1.3vw !important;

    }

    #pv_output .analysis-line-compact {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1200px) and (max-width: 1300px)
       and (min-height: 720px) and (max-height: 800px) {
    
        html {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    }

    body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    max-height: 100vh;
    }

    .scroll-portrait {
    max-height: 100vh;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    }

    #xboardsection {
        max-width: 99.2vw;
        max-height: 99.3vh;
    }

    #board_panel {
        max-height: 99.3vh;
        height: 98vh;
    }

    #boardControlButtons {
    padding-top: 0.7vh;
    }

    #downloadBtn,
    #uploadBtn, #btn-mute {
        height: 3.5vh !important;
    }
    
    .boardinfo {
        padding-top: 5px !important;
    }
    #BookTable_wrapper {
        min-height: 32.6vh !important;
        max-height: 44.4vh;
        overflow-x: hidden
    }

    #BookTable_wrapper .dataTables_scrollBody {
        overflow-y:visible !important;
    }   

    #GameTable_wrapper {
        min-height: 27.8vh !important;
        max-height: 32.8vh;
        overflow-y: auto;
    }
	
    .scroll_engine {
        height: 37.5vh;
        max-height: 37.5vh;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }

}
