@media (min-width: 769px) {

    .container-fluid>.row {
        display: flex;
        align-items: stretch;
    }

    .scroll-portrait > .container-fluid > .row {
        min-height: 98vh;
        max-height: 98vh;
    }

    .container-fluid>.row>.col {
        display: flex;
        flex-direction: column;
    }

    .container-fluid>.row>.col:last-child>.container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .container-fluid>.row>.col:last-child>.container>.row:nth-child(1) {
        flex: 0 0 auto;
    }

    .container-fluid>.row>.col:last-child>.container>.row:nth-child(2) {
        flex: 0 0 auto;
    }

    .container-fluid>.row>.col:last-child>.container>.row:nth-child(3) {
        flex: 1 1 40%;
        min-height: 0;
    }

    .container-fluid>.row>.col:last-child>.container>.row:nth-child(4) {
        flex: 1 1 60%;
        min-height: 0;
    }

    .scroll_movelist,
    .scroll_obooklist,
    .scroll_engine,

    .container-fluid>.row>.col:last-child>.container>.row>.card {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 0;
    }

    .container-fluid>.row>.col:last-child>.container>.row>.card>.card-body,
    .container-fluid>.row>.col:last-child>.container>.row>#data>.card-body {
        flex: 1;
        min-height: 0;
    }

    .container-fluid > .row > .col:last-child {
    min-height: 0 !important;
    }
    
}@media (prefers-color-scheme: dark) {
    .continuation-moves {
        color: #adb5bd;
    }
}
