[Unit]
Description=PicoChess updater (runs if flagged at boot)
Before=picochess.service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/run-picochess-if-flagged.sh

[Install]
WantedBy=multi-user.target
